simplejson==1.9.2 # py2-simplejson.spec 
sqlalchemy096==0.9.6
httplib2==0.18.0
cheetah==2.4.0 # py2-cheetah.spec 
cjson==1.0.5 # py2-cjson.spec 
cx-oracle==5.2.1 # py2-cx-oracle.spec 
docutils==0.12 # py2-docutils.spec 
pycurl==7.43.0.3
stomp==4.1.15 # py2-stomp.spec 
jsonschema==3.2.0
genson==1.0.2
tornado==5.1.1
nats==0.8.4
functools32==3.2.3-2
attrs==19.3.0
pyrsistent==0.16.0
six==1.14.0
importlib-metadata==1.7.0
zipp==1.2.0
pathlib2==2.3.5
contextlib2==0.5.5
configparser==3.7.4
scandir==1.10.0
futures==3.2.0
singledispatch==3.4.0.3
backports-abc==0.5
