time-hires==1.9715 # p5-time-hires.spec 
pycurl==7.43.0.3
httplib2==0.18.0
retry==0.9.1 # py2-retry.spec 
rucio-clients==1.23.6
ipython==0.10 # py2-ipython.spec 
extutils-makemaker==6.63_02 # p5-extutils-makemaker.spec 
zsi==2.0 # py2-zsi.spec 
pyxml==0.8.4 # py2-pyxml.spec 
cjson==1.0.5 # py2-cjson.spec 
archive-tar==1.76 # p5-archive-tar.spec 
setuptools==39.2.0 # py2-setuptools.spec 
io-zlib==1.10 # p5-io-zlib.spec 
package-constants==0.02 # p5-package-constants.spec 
argcomplete==1.9.4
requests==2.20.0
urllib3==1.23
dogpile-cache==0.6.7
nose==1.3.7
boto==2.49.0
tabulate==0.8.2
progressbar2==3.38.0
bz2file==0.98
python-magic==0.4.15
six==1.14.0
futures==3.2.0
boto3==1.9.229
pysftp==0.2.9
jsonschema==3.2.0
chardet==3.0.4
idna==2.7
certifi==2018.4.16
python-utils==2.3.0
botocore==1.12.229
jmespath==0.9.4
s3transfer==0.2.1
docutils==0.12 # py2-docutils.spec 
python-dateutil==2.8.0
paramiko==2.6.0
bcrypt==3.1.7
cryptography==2.4.2
pynacl==1.3.0
cffi==1.11.5
pycparser==2.19
asn1crypto==0.24.0
enum34==1.1.6
ipaddress==1.0.22
functools32==3.2.3-2
attrs==19.3.0
pyrsistent==0.16.0
importlib-metadata==1.7.0
zipp==1.2.0
pathlib2==2.3.5
contextlib2==0.5.5
configparser==3.7.4
scandir==1.10.0
