cjson==1.0.5 # py2-cjson.spec 
pycurl==7.43.0.3
httplib2==0.18.0
sqlalchemy==1.3.3
cx-oracle51==5.1.3 # py2-cx-oracle51.spec 
pyOpenSSL==18.0.0
mysqldb==1.2.4b4 # py2-mysqldb.spec 
retry==0.9.1 # py2-retry.spec 
cryptography==2.4.2
six==1.14.0
cffi==1.11.5
asn1crypto==0.24.0
enum34==1.1.6
idna==2.7
ipaddress==1.0.22
pycparser==2.19
archive-tar==1.76 # p5-archive-tar.spec 
time-hires==1.9715 # p5-time-hires.spec 
setuptools==39.2.0 # py2-setuptools.spec 
extutils-makemaker==6.63_02 # p5-extutils-makemaker.spec 
io-zlib==1.10 # p5-io-zlib.spec 
package-constants==0.02 # p5-package-constants.spec 
zsi==2.0 # py2-zsi.spec 
pyxml==0.8.4 # py2-pyxml.spec 
